@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=La+Belle+Aurore&display=swap');

.Menu {
  /* margin-top: 10vh; */
  margin: 10vh;
}
.Menu .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.Menu .heading p {
  font-size: 32px;
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
  color: #333333;
}
.Menu .heading h5 {
  color: #666666;
  font-size: 24px;
  font-family: 'Dancing Script', cursive;
}
/* .options {
  margin-top: 10px;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 700;
}

.options a {
  color: black;
  font-size: 16px;
  text-decoration: none;
}

.options a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: red;
  display: block;
  margin: auto;
  transition: 0.3s;
}
.options a:hover::after {
  width: 100%;
} */
