.videoContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.videoContent {
  color: white;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.videoContent a:link,
.videoContent a:visited,
.videoContent a:active {
  color: white;
}
