.videoContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.videoOverlay {
  width: 100vw;
  height: 100%;
  /* margin: 0; */
  /* overflow: hidden; */
  z-index: -1;
}

.videoContent {
  position: absolute;
  /* z-index: 1; */
  color: white;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.videoContent a:link,
.videoContent a:visited,
.videoContent a:active {
  color: white;
}
