.navbar {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.95));
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  color: rgb(255, 255, 255);
  font-weight: 500;
  padding: 5px;
  text-decoration: none;
  border: none;
  margin-left: 30px;
  cursor: pointer;
}

.navbar a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: red;
  display: block;
  margin: auto;
  transition: 0.3s;
}
.navbar a:hover::after {
  width: 100%;
}

.hamburger {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
}
.hamburger img {
  width: 19px;
  height: 19px;
}

#logo {
  margin-top: 5px;
  margin-right: auto;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

@media screen and (max-width: 760px) {
  .navlinks {
    display: none;
  }
  .hamburger {
    display: block;
    align-self: flex-end;
  }
}
.navbar .navlinks.show {
  display: flex;
}
