.navbar {
  background-color: white;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
  );
  color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.navbar a {
  font-weight: 500;
  padding: 5px;
  text-decoration: none;
  border: none;
  margin-left: 30px;
  cursor: pointer;
}

.navbar a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: red;
  display: block;
  margin: auto;
  transition: 0.3s;
}
.navbar a:hover::after {
  width: 100%;
}

#logo {
  margin-top: 5px;
  margin-right: auto;
  height: 32px;
  width: 32px;
  cursor: pointer;
}
