.navbar {
  background-color: #000000;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 10px;
}

a {
  padding: 5px;

  /* background-color: rgb(241, 241, 255); */
  text-decoration: none;
  border: none;

  color: #ffffff;
  font-weight: 600;
  margin-left: 30px;
  cursor: pointer;
}

.navbar a::after {
  content: '';
  width: 0%;
  height: 2px;
  background:red ;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.navbar a:hover::after{
  width:100%;
}
#logo {
  margin-top: 5px;
  margin-right: auto;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

#contact {
  color: #6c7073;
  /* background-color: rgb(2, 101, 231); */
  margin-right: 40px;
  margin-left: 40px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;
  border-radius: 60px;
  border: none;
  border-color: rgb(2, 101, 231);
  transition: transform 0.4s;
  cursor: pointer;
}

#contact:hover {
  transform: scale(1.1);
}
