.contentSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.productCard #image {
  /* margin: 5px; */
  height: 100px;
  width: 100px;
}
.productCard #name {
  font-size: 16px;
  text-transform: uppercase;
}
.contentSection .heading {
  margin-top: 5%;
  /* margin-top: 20px;
  margin-bottom: 40px; */
  font-size: xx-large;
}

.contentSection .products {
  display: flex;
  margin-top: 10px;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 0.1px dotted gray;
}

.productCard {
  display: flex;
  font-size: 16px;

  padding: 80px;
  width: 33%;
  height: 400px;

  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.workshopSection {
  width: 100vw;
  /* height: 50vh; */
  display: flex;
  flex-direction: column;
}

.workshopImageSection {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100vw;
  height: 50vh;
  color: 'white';
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: '36px';
  margin: auto;
}

.workshopContentSection {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.workshopContentSection a:link,
.workshopContentSection a:visited,
.workshopContentSection a:active {
  color: black;
}

@media (max-width: 500px) {
  .contentSection {
    border-top: 1px solid red;
  }
}
