.allProducts {
  display: flex;
  margin-top: 100px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.productCard {
  display: flex;
  font-size: 16px;
  margin: 10px;
  padding: 48px;
  height: 400px;
  max-width: 400px;

  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#image {
  margin: 5px;
  height: 300px;
  width: 300px;
}
#name {
  font-size: 24px;
  text-transform: uppercase;
}
