.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url(./images/background.png);
}
.bkimage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: white;
  color: #272727;
}
.bkimage h1 {
  font-size: 64px;
}
.bkimage h5 {
  font-size: 16px;
  font-style: italic;
}
